/*HEADER*/
/*118240946*/
/*HEADER TOP*/
div.header-top{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    /*HEADER ANCHOR*/
    .header-top-anchor{
        width: 50%;
        float: left;
        a{
            color: #606060;
            font-size: 1rem;
            text-decoration: none;
        }
    }
    /*HEADER NAV*/
    .header-top-nav{
        width: 30%;
        float: left;
        padding-left: 20%;
        a{
            color: #888888;
            font-size: 0.813rem;
            text-decoration: none;
            padding-left: 11%;
        }
    }
}
/*HEADER IMAGE*/
div.header-image{
    img{
        width: 100%;
    }
}
/*HEADER BOTTOM*/
div.header-bottom{
    width: 100%;
    text-align: center;
    background-color: #f9f9f9;
    padding: 65px 0% 72px 0%;
    margin-bottom: 28px;
    h2{
        font-weight: 400;
        margin-top: -3px;/*DETAIL*/
    }
    p{
        color: #909090;
        line-height: 1.55rem;
        padding: 15px 13.5%;
    }
    a.text-highlighted{
        color: #40aceb;
        font-weight: bold;
    }
    button{
        background-color: #7bb84f;
        border: #7bb84f;
        padding: 9px 3%;
        a{
            text-decoration: none;
            color: white;
            font-size: 0.85rem;
        }
    }
}
