/*FOOTER*/
/*118240946*/
div.footer{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
    .footer-companyRights{
        width: 58%;
        float: left;
        p{
            color: #979797;
            font-size: 0.813rem;
        }
        a{
            color: #979797;
        }
    }
    .footer-media{
        width: 42%;
        float: right;
        text-align: right;
        margin-top: 15px;
        a{
            margin-left: 9%;
            opacity: 0.5;
        }
    }
}