/*MAINCONTENT THREE*/
/*118240946*/
/*MAINCONTENT THREE TEXT*/
div.mainContent-three{
    width: 100%;
    background-color: #292c34;
    .mainContent-three-header{
        width: 83.3%;
        margin: 0 auto;
        text-align: center;
        padding: 30px 0% 20px 0%;
        margin-bottom: 0px;
        h3{
            color: white;
            font-weight: 400;
            margin-top: 45px;
            margin-bottom: 20px;
        }
        p{
            color:#aeaeae;
            line-height: 1.75rem;
            padding: 1px 0%;
        }
    }
    button{
        background-color: #40aceb;
        border: #40aceb;
        padding: 9px 3%;
        a{
            text-decoration: none;
            color: white;
            font-size: 0.85rem;
        }
    }
}
/*MAINCONTENT THREE IMAGES*/
.mainContent-three-images{
    width: 83.3%;
    margin: 0 auto;
    .mainContent-three-imagesSector1{
        margin-bottom: 5px;
        div.box{
            width: 31.1%;
            float: left;
            margin-left: 1.6%;
        }
        img{
            width: 100%;
        }
    }
    .mainContent-three-imagesSector2{
        margin-bottom: 30px;
        div.box{
            width: 31.1%;
            float: left;
            margin-left: 1.6%;
        }
        img{
            width: 100%;
        }
    }
}
div.mainContent-three{
    .mainContent-three-button{
        width: 83.3%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 70px;
        button{
            background-color: white;
            border: white;
            padding: 9px 8%;
            border-radius: 3px;
            a{
                text-decoration: none;
                color: black;
                font-size: 0.85rem;
            }
        }
    }
}