/*GENERAL CONFIGURATION*/
body{
    background-color: #eaeced;
    div.wrapper{
        max-width: 600px;
        margin: 0 auto;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    h2{
        font-size: 2.12rem;
    }
    h3{
        font-size: 1.81rem;
    }
    p{
        font-size: 1rem;
    }
}    
/*CLEARFIX*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}